<div class="  bg-gray-100  overflow-y-auto">
  <div class="bg-white rounded-lg w-full p-4 shadow ">
    <div>
      <span class="text-gray-900 relative inline-block date uppercase font-medium tracking-widest">{{currentDate|date:'EEEE d'}}</span>
      <div class="flex mb-2">
        <div class="w-2/12">
          <span class="text-sm text-gray-600 block">8:00a</span>
          <span class="text-sm text-gray-600 block">8:15a</span>
        </div>
        <div class="w-1/12">
          <span class="bg-blue-400 h-2 w-2 rounded-full block mt-2"></span>
        </div>
        <div class="w-9/12">
          <span class="text-sm font-semibold block">Morning Standup</span>
          <span class="text-sm">Zoom ID: 1134 11 1134</span>
        </div>
      </div>
      <div class="flex mb-4">
        <div class="w-2/12">
          <span class="text-sm text-gray-600 block">10:00a</span>
          <span class="text-sm text-gray-600 block">2:00p</span>
        </div>
        <div class="w-1/12">
          <span class="bg-red-400 h-2 w-2 rounded-full block mt-2"></span>
        </div>
        <div class="w-9/12">
          <span class="text-sm font-semibold block">Core Development</span>
          <span class="text-sm">Joey, Matt, CJ and Vlad</span>
        </div>
      </div>
      <div class="flex mb-4">
        <div class="w-2/12">
          <span class="text-sm text-gray-600 block">3:00p</span>
          <span class="text-sm text-gray-600 block">3:30p</span>
        </div>
        <div class="w-1/12">
          <span class="bg-indigo-600 h-2 w-2 rounded-full block mt-2"></span>
        </div>
        <div class="w-9/12">
          <span class="text-sm font-semibold block">Interview with Ed Harris</span>
        </div>
      </div>
    </div>

  </div>
</div>
