<div class="  bg-gray-100  overflow-y-auto">
  <div class="bg-white rounded-lg w-full p-4 shadow ">
    <span class="text-gray-900 relative inline-block date uppercase font-medium tracking-widest mb-3">{{currentDate|date:'EEEE d'}}</span>
    <div *ngFor="let announcement of announcements">


@if(today==getDate(announcement.announcementDate)){
          <div class="flex mb-4">
            <div class="w-2/12">
              <span class="text-sm text-gray-600 block">{{ announcement.announcementDate | date: 'h:mm a' }}</span>

            </div>
            <div class="w-1/12">
              <span class="bg-indigo-600 h-2 w-2 rounded-full block mt-2"></span>
            </div>
            <div class="w-9/12">
              <span class="text-sm font-semibold block">{{announcement.announcement}} - <span class="text-blue-400">{{announcement.projectName}}</span></span>
              <span class="text-sm">{{announcement.announcementDescription}}</span>
            </div>
          </div>
        }



    </div>

  </div>
</div>
