<p-dialog header="Assign Task" [modal]="true" [(visible)]="visible" [style]="{width: '50vw'}" [maximizable]="true">
  <!-- component -->
  <div class="flex items-center justify-center p-6">
    <!-- Author: FormBold Team -->
    <div class="mx-auto w-full max-w-[550px] bg-white">
        <form  autocomplete="off" #createForm="ngForm" >
          <div class="-mx-3 flex flex-wrap">
            <div class="w-full px-3 sm:w-1/2">
                <div class="mb-5">
                    <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
                        Task Name
                    </label>
                    <input type="text" name="name" id="name" [(ngModel)]="taskObject.name" [required]="true"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                </div>
            </div>
            <div class="w-full px-3 sm:w-1/2">
                <div class="mb-5">
                    <label for="category" class="mb-3 block text-base font-medium text-[#07074D]">
                        Member
                    </label>

                    <select id="memberId" name="memberId" [(ngModel)]="taskObject.memberId" ngModel required="true"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">


                            <ng-container *ngFor="let member of team">
                              <option value="{{member.memberId}}">{{member.memberEmail}}</option>
                            </ng-container>


                        </select>
                </div>
            </div>
        </div>

            <div class="-mx-3 flex flex-wrap">
              <div class="w-full px-3 sm:w-1/2">
                  <div class="mb-5">
                      <label for="startdate" class="mb-3 block text-base font-medium text-[#07074D]">
                          StartDate
                      </label>
                      <input type="date" name="startdate" id="startdate" [(ngModel)]="taskObject.startDate" [required]="true"
                          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                  </div>
              </div>
              <div class="w-full px-3 sm:w-1/2">
                  <div class="mb-5">
                      <label for="enddate" class="mb-3 block text-base font-medium text-[#07074D]">
                          EndDate
                      </label>
                      <input type="date" name="deadline" id="deadline" [(ngModel)]="taskObject.deadline" [required]="true"
                          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                  </div>
              </div>
          </div>
            <div class="-mx-3 flex flex-wrap">
                <div class="w-full px-3 sm:w-1/2">
                    <div class="mb-5">
                        <label for="budget" class="mb-3 block text-base font-medium text-[#07074D]">
                            Budget
                        </label>
                        <input type="number" name="budget" id="budget" [(ngModel)]="taskObject.budget" [required]="true"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                    </div>
                </div>
                <div class="w-full px-3 sm:w-1/2">
                    <div class="mb-5">
                        <label for="additionalbudget" class="mb-3 block text-base font-medium text-[#07074D]">
                            Priority
                        </label>
                        <select id="priority" name="priority" [(ngModel)]="taskObject.priority" ngModel required="true"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">



                      <option value="low">Low</option>
                      <option value="medium">Medium</option>
                      <option value="high">High</option>


                </select>

                    </div>
                </div>
            </div>




          <div class="mb-5">
            <label for="description" class="mb-3 block text-base font-medium text-[#07074D]">
                Notes
            </label>
            <textarea  name="description" id="description" [(ngModel)]="taskObject.description" [required]="true"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" ></textarea>
        </div>





            <div>
                <button (click)="assignTask()"
                    class="hover:shadow-form w-full rounded-md bg-blue-500 py-3 px-8 text-center text-base font-semibold text-white outline-none">
                    Assign Task
                </button>
            </div>
        </form>
    </div>
</div>

</p-dialog>


<p-dialog header="Edit Task" [modal]="true" [(visible)]="visible4" [style]="{width: '50vw'}" [maximizable]="true">
  <!-- component -->
  <div class="flex items-center justify-center p-6">
    <!-- Author: FormBold Team -->
    <div class="mx-auto w-full max-w-[550px] bg-white">
        <form  autocomplete="off" #createForm="ngForm" >
          <div class="-mx-3 flex flex-wrap">
            <div class="w-full px-3 sm:w-1/2">
                <div class="mb-5">
                    <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
                        Task Name
                    </label>
                    <input type="text" name="name" id="name" [(ngModel)]="editTaskObject.name" [required]="true"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                </div>
            </div>
            <div class="w-full px-3 sm:w-1/2">
                <div class="mb-5">
                    <label for="category" class="mb-3 block text-base font-medium text-[#07074D]">
                        Member
                    </label>

                    <select id="memberId" name="memberId" [(ngModel)]="editTaskObject.memberId" ngModel required="true"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">


                            <ng-container *ngFor="let member of team">
                              <option value="{{member.memberId}}">{{member.memberEmail}}</option>
                            </ng-container>


                        </select>
                </div>
            </div>
        </div>

            <div class="-mx-3 flex flex-wrap">
              <div class="w-full px-3 sm:w-1/2">
                  <div class="mb-5">
                      <label for="startdate" class="mb-3 block text-base font-medium text-[#07074D]">
                          StartDate
                      </label>
                      <input type="date" name="startdate" id="startdate" [(ngModel)]="editTaskObject.startDate" [required]="true"
                          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                  </div>
              </div>
              <div class="w-full px-3 sm:w-1/2">
                  <div class="mb-5">
                      <label for="enddate" class="mb-3 block text-base font-medium text-[#07074D]">
                          EndDate
                      </label>
                      <input type="date" name="deadline" id="deadline" [(ngModel)]="editTaskObject.deadline" [required]="true"
                          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                  </div>
              </div>
          </div>
            <div class="-mx-3 flex flex-wrap">
                <div class="w-full px-3 sm:w-1/2">
                    <div class="mb-5">
                        <label for="budget" class="mb-3 block text-base font-medium text-[#07074D]">
                            Budget
                        </label>
                        <input type="number" name="budget" id="budget" [(ngModel)]="editTaskObject.budget" [required]="true"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                    </div>
                </div>
                <div class="w-full px-3 sm:w-1/2">
                    <div class="mb-5">
                        <label for="additionalbudget" class="mb-3 block text-base font-medium text-[#07074D]">
                            Priority
                        </label>
                        <select id="priority" name="priority" [(ngModel)]="editTaskObject.priority" ngModel required="true"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">



                      <option value="low">Low</option>
                      <option value="medium">Medium</option>
                      <option value="high">High</option>


                </select>

                    </div>
                </div>
            </div>




          <div class="mb-5">
            <label for="description" class="mb-3 block text-base font-medium text-[#07074D]">
                Notes
            </label>
            <textarea  name="description" id="description" [(ngModel)]="editTaskObject.description" [required]="true"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" ></textarea>
        </div>





            <div>
                <button (click)="editTask()"
                    class="hover:shadow-form w-full rounded-md bg-blue-500 py-3 px-8 text-center text-base font-semibold text-white outline-none">
                   Edit Task
                </button>
            </div>
        </form>
    </div>
</div>

</p-dialog>

<p-dialog header="Add SubTask" [modal]="true" [(visible)]="visible3" [style]="{width: '30vw'}" [maximizable]="true">
  <!-- component -->
  <div class="flex items-center justify-center p-6">
    <!-- Author: FormBold Team -->
    <div class="mx-auto w-full max-w-[550px] bg-white flex items-center justify-center">
        <form  autocomplete="off" #createForm="ngForm" >
          <div class="-mx-3 flex flex-wrap">
            <div class="w-full px-3 sm:w-1/2">
                <div class="mb-5">
                    <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
                        SubTask
                    </label>
                    <input type="text" name="name" id="name" [(ngModel)]="subObject.name" [required]="true"
                        class="w-60 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                </div>
            </div>

        </div>






            <div>
                <button (click)="addSubTask()"
                    class="hover:shadow-form w-60 rounded-md bg-blue-500 py-3 px-8 text-center text-base font-semibold text-white outline-none">
                    Add SubTask
                </button>
            </div>
        </form>
    </div>
</div>

</p-dialog>

<div class=" pl-5 py-5 m-auto mt-5 mx-3 bg-white pro ">
  <div class="flex gap-3 justify-between">
    <div class="buttons pb-3 flex gap-3">

      <h6 class="mt-3" >Project Tasks</h6>

 @if(position=="manager"){
         <button
      class="group cursor-pointer outline-none hover:rotate-90 duration-300 mt-2"
      title="Create Task" (click)="showDialog()"
    >
      <svg
        class="stroke-blue-500 fill-none group-hover:fill-bluee-500 group-active:stroke-blue-200 group-active:fill-blue-600 group-active:duration-0 duration-300"
        viewBox="0 0 24 24"
        height="20px"
        width="20px"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-width="1.5"
          d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
        ></path>
        <path stroke-width="1.5" d="M8 12H16"></path>
        <path stroke-width="1.5" d="M12 16V8"></path>
      </svg>
    </button>
      }




    </div>
    <div class="flex gap-3">
      <p-dropdown [options]="options" [(ngModel)]="selectedCity" optionLabel="name" [showClear]="true" placeholder="Select option" class="w-30"></p-dropdown>
      @if(selectedCity.name=="Pending"){
         <div class="group mr-2">
        <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
        <input placeholder="Search" type="search" class="input" [(ngModel)]="searchTerm" (input)="goToPage(0)" >
      </div>
      }

      @if(selectedCity.name=="Completed"){
        <div class="group mr-2">
       <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
       <input placeholder="Search" type="search" class="input" [(ngModel)]="searchTerm2" (input)="goToPage(0)" >
     </div>
     }


    </div>

    </div>


  <p-dialog header="Task Details" [modal]="true" [(visible)]="visible1" [style]="{  }" [maximizable]="true" >
    <div class="flex h-full">

      <div class="max-w-2xl bg-white w-full rounded-lg p-6 mr-8 mb-2">
  <div *ngFor="let task of tasks; let i = index" [hidden]="task.taskId !== taskId" >
    @if(position=="manager"){
      <div class="flex justify-end">
      <button
      class="group cursor-pointer outline-none duration-300"
      title="Edit Task"
        (click)="showTaskDetails(task.taskId)"
    >
      <svg
        class="stroke-blue-500 fill-none group-hover:fill-bluee-500 group-active:stroke-blue-200 group-active:fill-blue-600 group-active:duration-0 duration-300"
        viewBox="0 0 24 24"
        height="25px"
        width="25px"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-width="1.5"
          d="M14.55 5.55L17 8L8 17H5V14L14.55 5.55ZM19 6L18 5L16 7L17 8L19 6Z"
        ></path>
      </svg>
    </button>
</div>
    }
    <div class="border-b w-full mb-4">
      <div class="grid grid-cols-2 gap-4">

        <div class="col-span-2 md:col-span-1">
          <div class="flex items-center gap-3">
            <span class="text-gray-600">Task Name:</span>
            <span class="ml-2 text-gray-400">{{ task.taskName }}</span>
          </div>
          <div class="flex items-center mt-5 gap-3">
            <span class="text-gray-600">Project Name:</span>
            <span class="ml-2 text-gray-400">{{ task.projectName }}</span>
          </div>
          <div class="flex items-center mt-5 gap-3">
            <span class="text-gray-600">Budget:</span>
            <span class="ml-2 text-gray-400">${{ task.taskBudget }}</span>
          </div>
          <div class="flex items-center mt-5 gap-3">
            <span class="text-gray-600">Deadline:</span>
            <span class="ml-2 text-gray-400">{{ task.taskDeadline | date }}</span>
          </div>
        </div>
        <div class="col-span-2 md:col-span-1 gap-3 ">
          <div class="flex items-center">
            <span class="text-gray-600">Priority:</span>
            <span class="ml-2 inline-block px-3 py-1 rounded-full text-xs font-semibold bg-{{getColor(task.taskPriority)}}-100 text-{{getColor(task.taskPriority)}}-600">
              {{ task.taskPriority }}
            </span>
          </div>
          <div class="flex items-center mt-5 gap-2">
            <span class="text-gray-600">Status:</span>
            @if(id==task.assigneeId){
              <select class="ml-2 inline-block px-3 py-1 rounded-full text-xs font-semibold bg-{{getStatusColor(task.taskStatus)}}-100 text-{{getStatusColor(task.taskStatus)}}-600" [(ngModel)]="task.taskStatus" (ngModelChange)="changeTaskStatus(task.taskId, $event)">
              <option value="in-progress">in-progress</option>
              <option value="testing">testing</option>
              <option value="pending">pending</option>
              <option value="on-hold">on-hold</option>
          </select>
            }
            @if(id!=task.assigneeId){

              <span class="ml-2 inline-block px-3 py-1 rounded-full text-xs font-semibold bg-{{getStatusColor(task.taskStatus)}}-100 text-{{getStatusColor(task.taskStatus)}}-600">{{task.taskStatus}}</span>
            }


          </div>

          <div class="flex items-center mt-5 gap-3">
            <span class="text-gray-600">Progress:</span>
            <div class="overflow-hidden bg-blue-50 h-1.5  w-full">
              <p-progressBar [value]="progress"></p-progressBar>>

            </div>
            <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal opacity-70">{{progress}}%</p>
          </div>
          <div class="flex items-center mt-5 gap-3">
            @if(position!="manager"){
              <span class="text-gray-600">Manager:</span>
            <span class="ml-2 text-blue-500 ">{{ task.managerEmail }}</span>
            }
            @if(position=="manager"){
              <span class="text-gray-600">Assignee:</span>
            <span class="ml-2 text-blue-500 ">{{ task.memberEmail }}</span>
            }

          </div>

        </div>
      </div>
      <div class="mt-4  flex items-center gap-3">
        <span class="text-gray-600 mb-1">Description:</span>
        <span class="text-gray-400">{{ task.taskDescription }}</span>
      </div>
      @if(memberId==id){
        <div class="flex mb-3 mt-4 flex justify-between">
        <button class="px-4 py-2 rounded-md text-white text-base bg-blue-500 hover:bg-blue-600" (click)="submitTask(task.taskId)">Submit Task</button>



    </div>
      }

    </div>

  </div>

  <div class="mt-6">
    <h3 class="font-bold text-lg mb-4">Comments</h3>
    <div class="overflow-y-auto overflow-x-auto max-h-60">
      <ng-container *ngFor="let comment of comments">
          <div class="border rounded-md p-3 mb-3">
              <div class="flex items-center gap-3">
                  <img src="{{comment.memberPhoto}}"
                      class="object-cover w-8 h-8 rounded-full border-2 border-emerald-400 shadow-emerald-400">
                  <h3 class="font-bold text-base">{{comment.memberName}}</h3>
              </div>
              <p class="text-gray-600 mt-2 text-base word-break" style="word-wrap: break-word;">{{comment.comment}}</p>
              <p class="text-gray-300 text-xs mt-1">{{comment.commentDate|customDate }} {{comment.commentDate| date: 'h:mm a' }} </p>
          </div>
      </ng-container>
  </div>

    <form #form="ngForm" (submit)="form.reset()" class="mb-8">
      <div class="flex bg-gray-100 rounded-full border border-gray-100 leading-normal resize-none w-full h-10 py-2 px-3 font-medium text-base placeholder-gray-700 focus:outline-none focus:bg-white mb-4">
        <div class="fileUploadWrapper mr-2">
          <label for="file">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 337 337">
              <circle
                stroke-width="20"
                stroke="#6c6c6c"
                fill="none"
                r="158.5"
                cy="168.5"
                cx="168.5"
              ></circle>
              <path
                stroke-linecap="round"
                stroke-width="25"
                stroke="#6c6c6c"
                d="M167.759 79V259"
              ></path>
              <path
                stroke-linecap="round"
                stroke-width="25"
                stroke="#6c6c6c"
                d="M79 167.138H259"
              ></path>
            </svg>
            <span class="tooltip">Upload a file</span>
          </label>
          <input type="file" id="file" name="file" (change)="onFileSelected($event)" />
        </div>
        <input type="text" class="bg-gray-100 w-full"
                name="body" placeholder="Type Your Comment" required [(ngModel)]="comment.comment1">

                <button id="sendButton" (click)="addComment()" >
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 664 663">
                    <path
                      fill="none"
                      d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
                    ></path>
                    <path
                      stroke-linejoin="round"
                      stroke-linecap="round"
                      stroke-width="33.67"
                      stroke="#6c6c6c"
                      d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
                    ></path>
                  </svg>
                </button>
      </div>


    </form>
  </div>
      </div>
      <div class="border-l h-screen"></div>
      <div class="" style="width: 350px !important;">
        <div class="flex flex-col max-h-60 overflow-auto mb-10 overflow-x-hidden">
          <div class="flex justify-between sticky top-0 bg-white">
             <h3 class="font-bold text-lg ml-4 ">Subtasks <span class="ml-2 text-blue-500 text-sm">{{completed}} <span class="text-black">/</span> {{count}}</span></h3>
          @if(position=="manager"){
            <button
         class="group cursor-pointer outline-none hover:rotate-90 duration-300"
         title="Create Task" (click)="addSubDialog()"
       >
         <svg
           class="stroke-blue-500 fill-none group-hover:fill-bluee-500 group-active:stroke-blue-200 group-active:fill-blue-600 group-active:duration-0 duration-300"
           viewBox="0 0 24 24"
           height="20px"
           width="20px"
           xmlns="http://www.w3.org/2000/svg"
         >
           <path
             stroke-width="1.5"
             d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
           ></path>
           <path stroke-width="1.5" d="M8 12H16"></path>
           <path stroke-width="1.5" d="M12 16V8"></path>
         </svg>
       </button>
         }
          </div>


          <div class="flex flex-col mb-8 gap-3.5 flex-1 px-4 mt-1" *ngIf="subTasks">
              <ul class="flex flex-col gap-3.5 w-full sm:max-w-md mx-auto">
                  <li class="w bg-gray-100 p-3 rounded-md" *ngFor="let sub of subTasks">
                      <div class="flex justify-between items-center">
                          <div class="mr-4">{{sub.name}}</div>
                          <div>
                              <input type="checkbox" class="form-checkbox h-5 w-5 text-primary focus:outline-none focus:ring-2 focus:ring-primary dark:text-primary" (click)="updateStatus(sub.id,sub.taskId)" [checked]="sub.status === 'Completed'" [disabled]="disabling(memberId)"/>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>



      </div>

        @if(memberId==id){
           <div class="request px-4 py-10">

        <h3 class="font-bold text-lg mb-2">Requests</h3>
        <form #requestForm="ngForm" (submit)="requestForm.reset()">
          <div class="flex flex-col">


            <select name="type" id="type" [(ngModel)]="request.type" id="requestType" class="w-full bg-gray-100 rounded border border-gray-400 leading-normal py-2 px-3 font-medium text-base focus:outline-none focus:bg-white mb-4" placeholder="Select type">
              <option [ngValue]="''" disabled hidden>Select type</option>
              <option value="financial">Financial</option>
              <option value="extension">Extension</option>
            </select>


            <input type="number" name="amount" id="amount" [(ngModel)]="request.amount" class="w-full bg-gray-100 rounded border border-gray-400 leading-normal py-2 px-3 font-medium text-base focus:outline-none focus:bg-white mb-4" placeholder="Enter amount" >

            <textarea name="description" id="description" [(ngModel)]="request.description" class="w-auto bg-gray-100 rounded border border-gray-400 leading-normal resize-none h-24 py-2 px-3 font-medium text-base placeholder-gray-700 focus:outline-none focus:bg-white mb-4"  placeholder="Type your request here"></textarea>

            <button (click)="sendRequest(taskId)" type="submit" class="px-4 py-2 rounded-md text-white text-base bg-blue-500 hover:bg-blue-600">Submit</button>

          </div>
      </form>
    </div>
        }




      </div>



    </div>
  </p-dialog>






    <div >
      <table class=" w-full min-w-max table-auto text-left t ">
      <thead class="sticky top-0 bg-white">
        <tr>
          <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
              <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center text-center justify-between gap-2 font-normal leading-none opacity-70">Task Name
            </p>
          </th>
          @if(position=="manager"){
            <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
            <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center text-center justify-between gap-2 font-normal leading-none opacity-70">Assigned To
          </p></th>
          }

          @if(position!="manager"){
            <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
            <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Lead
            </p>
          </th>
          }


          <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
            <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Status <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="h-4 w-4">

              </svg>
            </p>
          </th>
          <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
            <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Priority <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="h-4 w-4">

              </svg>
            </p>
          </th>
          <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
            <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Deadline <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="h-4 w-4">

              </svg>
            </p>
          </th>
          <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
            <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Project</p>
          </th>


        </tr>
      </thead>
      <tbody >
        @if(selectedCity.name=="Pending"){
          @for(task of paginatedTasks.slice().reverse(); track task.id){

              <tr (click)="showDetailsDialog(task.taskId,task.assigneeId)" class="cursor-pointer" >
          <td class="p-4 border-b border-blue-gray-50">
            <div class="flex items-center gap-3">
              <div class="flex flex-col">
                <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{task.taskName}}</p>
                <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal opacity-70">Start: {{ task.taskStart | date }}</p>
              </div>
            </div>
          </td>
          @if(position=="manager"){
            <td class="p-4 border-b border-blue-gray-50">
              <div class="flex items-center gap-3">
                <img src="assets/images/{{task.assigneePicture}}" alt="John Michael" class="inline-block relative object-cover object-center !rounded-full w-9 h-9 rounded-md">
                <div class="flex flex-col">
                  <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{task.assigneeName}}</p>
                  <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal opacity-70">{{task.memberEmail}}</p>
                </div>
              </div>
            </td>
          }
          @if(position!="manager"){
            <td class="p-4 border-b border-blue-gray-50">
            <div class="flex items-center gap-3">
              <img src="assets/images/{{task.managerPhoto}}" alt="John Michael" class="inline-block relative object-cover object-center !rounded-full w-9 h-9 rounded-md">
              <div class="flex flex-col">
                <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{task.managerName}}</p>
                <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal opacity-70">{{task.managerEmail}}</p>
              </div>
            </div>
          </td>
          }


          <td class="p-4 border-b border-blue-gray-50">
            <div class="w-max">
              <div class="relative grid items-center font-sans font-bold uppercase whitespace-nowrap select-none bg-{{getStatusColor(task.taskStatus)}}-200 text-{{getStatusColor(task.taskStatus)}}-500 py-1 px-2 text-xs rounded-md" style="opacity: 1;">
                <span class="">{{task.taskStatus}}</span>
              </div>
            </div>
          </td>
          <td class="p-4 border-b border-blue-gray-50">
            <div class="w-max">
              <ng-container >
                <div class="relative grid items-center font-sans font-bold uppercase whitespace-nowrap select-none bg-{{getColor(task.taskPriority)}}-200 text-{{getColor(task.taskPriority)}}-500 py-1 px-2 text-xs rounded-md" style="opacity: 1;">
                <span class="">{{task.taskPriority}}</span>
              </div>
              </ng-container>

            </div>
          </td>
          <td class="p-4 border-b border-blue-gray-50">
            <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{task.taskDeadline | date}}</p>
          </td>
          <td class="p-4 border-b border-blue-gray-50">
            <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{task.projectName}}</p>
          </td>



        </tr>


        }
      }


        @if(selectedCity.name=="Completed"){
          @for(task of paginatedCompletedTasks.slice().reverse(); track task.id){

          <tr  class="cursor-pointer" >
      <td class="p-4 border-b border-blue-gray-50">
        <div class="flex items-center gap-3">
          <div class="flex flex-col">
            <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{task.taskName}}</p>
            <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal opacity-70">Start: {{ task.taskStart | date }}</p>
          </div>
        </div>
      </td>
      @if(position=="manager"){
        <td class="p-4 border-b border-blue-gray-50">
          <div class="flex items-center gap-3">
            <img src="assets/images/{{task.assigneePicture}}" alt="John Michael" class="inline-block relative object-cover object-center !rounded-full w-9 h-9 rounded-md">
            <div class="flex flex-col">
              <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{task.assigneeName}}</p>
              <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal opacity-70">{{task.memberEmail}}</p>
            </div>
          </div>
        </td>
      }
      @if(position!="manager"){
        <td class="p-4 border-b border-blue-gray-50">
        <div class="flex items-center gap-3">
          <img src="assets/images/{{task.managerPhoto}}" alt="John Michael" class="inline-block relative object-cover object-center !rounded-full w-9 h-9 rounded-md">
          <div class="flex flex-col">
            <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{task.managerName}}</p>
            <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal opacity-70">{{task.managerEmail}}</p>
          </div>
        </div>
      </td>
      }


      <td class="p-4 border-b border-blue-gray-50">
        <div class="w-max">
          <div class="relative grid items-center font-sans font-bold uppercase whitespace-nowrap select-none bg-{{getStatusColor(task.taskStatus)}}-200 text-{{getStatusColor(task.taskStatus)}}-500 py-1 px-2 text-xs rounded-md" style="opacity: 1;">
            <span class="">{{task.taskStatus}}</span>
          </div>
        </div>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
        <div class="w-max">
          <ng-container >
            <div class="relative grid items-center font-sans font-bold uppercase whitespace-nowrap select-none bg-{{getColor(task.taskPriority)}}-200 text-{{getColor(task.taskPriority)}}-500 py-1 px-2 text-xs rounded-md" style="opacity: 1;">
            <span class="">{{task.taskPriority}}</span>
          </div>
          </ng-container>

        </div>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{task.taskDeadline | date}}</p>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
        <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{task.projectName}}</p>
      </td>



    </tr>


    }


        }




      </tbody>
    </table>

    </div>
    @if(selectedCity.name=="Pending"){
     <!-- HTML -->
<div class="flex justify-end">
  <button *ngIf="pageNumber > 0" class="px-2 border-blue-600 bg-gray-400 text-white text-sm shadow-md hover:bg-gray-500 focus:outline-none focus:bg-gray-500" (click)="goToPage(pageNumber - 1)" style="padding: 2px 8px;">Previous</button>
  <button *ngIf="pageNumber < totalPages - 1" class="px-2 border-blue-600 bg-gray-400 text-white text-sm shadow-md hover:bg-gray-500 focus:outline-none focus:bg-gray-500" (click)="goToPage(pageNumber + 1)" style="padding: 2px 8px;">Next</button>
</div>

  }

  @if(selectedCity.name=="Completed"){
    <!-- HTML -->
<div class="flex justify-end">
  <button *ngIf="pageNumber2 > 0" class="px-2 border-blue-600 bg-gray-400 text-white text-sm shadow-md hover:bg-gray-500 focus:outline-none focus:bg-gray-500" (click)="goToPage2(pageNumber2 - 1)" style="padding: 2px 8px;">Previous</button>
  <button *ngIf="pageNumber2 < totalCompletedPages - 1" class="px-2 border-blue-600 bg-gray-400 text-white text-sm shadow-md hover:bg-gray-500 focus:outline-none focus:bg-gray-500" (click)="goToPage2(pageNumber2 + 1)" style="padding: 2px 8px;">Next</button>
</div>

  }



</div>
