



<div class="content-page">
  <div class="">
<div class="row">
  <div class="col-lg-12">

    <div class="container-fluid">
      <app-dashcards></app-dashcards>

    </div>

  </div>
<div class="card ml-4 col-lg-6" >
  <h6 class="top-block pt-2">Tasks By Priority</h6>
  <div class=" m-auto " style="width: 300px;" >

    <app-priority-pie></app-priority-pie>
  </div>
</div>



<div class="col-lg-5 ml-4"  >
  <div class="card" >
    <app-reminders></app-reminders>
  </div>
</div>





<div class="col-lg-12 ml-3" style="width:80%">
  <div class="card  p-3" style="width:97%">
    <app-projectsbar></app-projectsbar>
  </div>
</div>




</div>


</div>
</div>




