<div class=" pl-5 py-5 m-auto  bg-white pro ">
  <div class="buttons pb-3 flex justify-between">

    <h6>My Tasks</h6>
    <div class="group mr-2">
      <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
      <input placeholder="Search" type="search" class="input" [(ngModel)]="searchTerm" (input)="goToPage(0)" >
    </div>

  </div>


  <p-dialog header="Task Details" [modal]="true" [(visible)]="visible1" [style]="{  }" [maximizable]="true" >
    <div class="flex h-full">

      <div class="max-w-2xl bg-white w-full rounded-lg p-6 mr-8 mb-2">
  <div *ngFor="let task of tasks; let i = index" [hidden]="task.taskId !== taskId" >
    <div class="border-b w-full mb-4">
      <div class="grid grid-cols-2 gap-4">
        <div class="col-span-2 md:col-span-1">
          <div class="flex items-center gap-3">
            <span class="text-gray-600">Task Name:</span>
            <span class="ml-2 text-gray-400">{{ task.taskName }}</span>
          </div>
          <div class="flex items-center mt-5 gap-3">
            <span class="text-gray-600">Project Name:</span>
            <span class="ml-2 text-gray-400">{{ task.projectName }}</span>
          </div>
          <div class="flex items-center mt-5 gap-3">
            <span class="text-gray-600">Budget:</span>
            <span class="ml-2 text-gray-400">${{ task.taskBudget }}</span>
          </div>
          <div class="flex items-center mt-5 gap-3">
            <span class="text-gray-600">Deadline:</span>
            <span class="ml-2 text-gray-400">{{ task.taskDeadline | date }}</span>
          </div>
        </div>
        <div class="col-span-2 md:col-span-1 gap-3 ">
          <div class="flex items-center">
            <span class="text-gray-600">Priority:</span>
            <span class="ml-2 inline-block px-3 py-1 rounded-full text-xs font-semibold bg-{{getColor(task.taskPriority)}}-100 text-{{getColor(task.taskPriority)}}-600">
              {{ task.taskPriority }}
            </span>
          </div>
          <div class="flex items-center mt-5 gap-2">
            <span class="text-gray-600">Status:</span>
            <select class="ml-2 inline-block px-3 py-1 rounded-full text-xs font-semibold bg-{{getStatusColor(task.taskStatus)}}-100 text-{{getStatusColor(task.taskStatus)}}-600" [(ngModel)]="task.taskStatus" (ngModelChange)="changeTaskStatus(task.taskId, $event)">
              <option value="in-progress">in-progress</option>
              <option value="testing">testing</option>
              <option value="pending">pending</option>
              <option value="on-hold">on-hold</option>
          </select>
          </div>

          <div class="flex items-center mt-5 gap-3">
            <span class="text-gray-600">Progress:</span>
            <div class="overflow-hidden bg-blue-50 h-1.5  w-full">
              <p-progressBar [value]="progress"></p-progressBar>>

            </div>
            <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal opacity-70">{{progress}}%</p>
          </div>
          <div class="flex items-center mt-5 gap-3">
            <span class="text-gray-600">Manager:</span>
            <span class="ml-2 text-blue-500 ">{{ task.managerEmail }}</span>
          </div>

        </div>
      </div>
      <div class="mt-4  flex items-center gap-3">
        <span class="text-gray-600 mb-1">Description:</span>
        <span class="text-gray-400">{{ task.taskDescription }}</span>
      </div>
      <div class="flex mb-3 mt-4">
        <button class="px-4 py-2 rounded-md text-white text-base bg-blue-500 hover:bg-blue-600" (click)="submitTask(task.taskId)">Submit Task</button>
    </div>
    </div>

  </div>

        <div class="mt-6">
          <h3 class="font-bold text-lg mb-4">Comments</h3>
          <div class="overflow-y-auto max-h-60">
            <ng-container *ngFor="let comment of comments">
              <div class="border rounded-md p-3 mb-3">
                <div class="flex items-center gap-3">
                  <img src="assets/images/profile.jpg"
                       class="object-cover w-8 h-8 rounded-full border-2 border-emerald-400 shadow-emerald-400">
                  <h3 class="font-bold text-base">{{comment.memberName}}</h3>
                </div>
                <p class="text-gray-600 mt-2 text-base">{{comment.comment}}</p>
                <p class="text-gray-300 text-xs mt-1">{{comment.commentDate|date}}</p>
              </div>
            </ng-container>
          </div>


          <form #form="ngForm" (submit)="form.reset()" class="mb-8">
            <textarea class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium text-base placeholder-gray-700 focus:outline-none focus:bg-white mb-4"
                      name="body" placeholder="Type Your Comment" required [(ngModel)]="comment.comment1"></textarea>
            <div class="flex justify-end">
              <button type="submit" class="px-4 py-2 rounded-md text-white text-base bg-blue-500 hover:bg-blue-600" (click)="addComment()">Post Comment</button>
            </div>
          </form>
        </div>
      </div>
      <div class="border-l h-screen"></div>
      <div>
        <div class="flex flex-col max-h-60 overflow-auto mb-10 overflow-x-hidden">
          <h3 class="font-bold text-lg mb-3 ml-2 sticky top-0 bg-white">Subtasks <span class="ml-2 text-blue-500 text-sm">{{completed}} <span class="text-black">/</span> {{count}}</span></h3>


          <div class="flex flex-col mb-8 gap-3.5 flex-1 px-4 mt-1" *ngIf="subTasks">
              <ul class="flex flex-col gap-3.5 w-full sm:max-w-md mx-auto">
                  <li class="w bg-gray-100 p-3 rounded-md" *ngFor="let sub of subTasks">
                      <div class="flex justify-between items-center">
                          <div class="mr-4">{{sub.name}}</div>
                          <div>
                              <input type="checkbox" class="form-checkbox h-5 w-5 text-primary focus:outline-none focus:ring-2 focus:ring-primary dark:text-primary" (click)="updateStatus(sub.id,sub.taskId)" [checked]="sub.status === 'Completed'"/>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>



      </div>

      <div class="request px-4 py-10">

        <h3 class="font-bold text-lg mb-2">Requests</h3>
        <form #requestForm="ngForm" (submit)="requestForm.reset()">
          <div class="flex flex-col">


            <select name="type" id="type" [(ngModel)]="request.type" id="requestType" class="w-full bg-gray-100 rounded border border-gray-400 leading-normal py-2 px-3 font-medium text-base focus:outline-none focus:bg-white mb-4" placeholder="Select type">
              <option [ngValue]="''" disabled hidden>Select type</option>
              <option value="financial">Financial</option>
              <option value="extension">Extension</option>
            </select>


            <input type="number" name="amount" id="amount" [(ngModel)]="request.amount" class="w-full bg-gray-100 rounded border border-gray-400 leading-normal py-2 px-3 font-medium text-base focus:outline-none focus:bg-white mb-4" placeholder="Enter amount" >

            <textarea name="description" id="description" [(ngModel)]="request.description" class="w-auto bg-gray-100 rounded border border-gray-400 leading-normal resize-none h-24 py-2 px-3 font-medium text-base placeholder-gray-700 focus:outline-none focus:bg-white mb-4"  placeholder="Type your request here"></textarea>

            <button (click)="sendRequest(taskId)" type="submit" class="px-4 py-2 rounded-md text-white text-base bg-blue-500 hover:bg-blue-600">Submit</button>

          </div>
      </form>
    </div>
      </div>



    </div>
  </p-dialog>




  <!-- <p-dialog header="SubTasks" [modal]="true" [(visible)]="visible2" [style]="{width: '40vw'}">




      @if(subTasks){

        <div class="bg-white white:bg-gray-900 rounded-lg  w-full">
          <ul class="w-full text-surface dark:text-dark">
            <ng-container *ngFor="let sub of subTasks">
               <li class="flex items-center justify-between border-b-2 border-neutral-100 py-4 dark:border-dark/10">
              <span>{{sub.name}}</span>
              <input type="checkbox" class="form-checkbox h-5 w-5 text-primary focus:outline-none focus:ring-2 focus:ring-primary dark:text-primary" (click)="updateStatus(sub.id)"/>
            </li>
            </ng-container>


          </ul>
        </div>



      }


  </p-dialog> -->


    <div >
      <table class=" w-full min-w-max table-auto text-left t ">
      <thead class="sticky top-0 bg-white">
        <tr>
          <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
              <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center text-center justify-between gap-2 font-normal leading-none opacity-70">Task Name
            </p>
          </th>
          <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
            <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Lead
            </p>
          </th>

          <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
            <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Status <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="h-4 w-4">

              </svg>
            </p>
          </th>
          <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
            <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Priority <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="h-4 w-4">

              </svg>
            </p>
          </th>
          <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
            <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Deadline <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="h-4 w-4">

              </svg>
            </p>
          </th>
          <th class="cursor-pointer border-y border-blue-gray-100 bg-blue-gray-50/50 p-4 transition-colors hover:bg-blue-gray-50">
            <p class="antialiased font-sans text-sm text-blue-gray-900 flex items-center justify-between gap-2 font-normal leading-none opacity-70">Project</p>
          </th>


        </tr>
      </thead>
      <tbody >
        @for(task of paginatedTasks; track task.id){

              <tr (click)="showDetailsDialog(task.taskId)" class="cursor-pointer" >
          <td class="p-4 border-b border-blue-gray-50">
            <div class="flex items-center gap-3">
              <div class="flex flex-col">
                <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{task.taskName}}</p>
                <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal opacity-70">Start: {{ task.taskStart | date }}</p>
              </div>
            </div>
          </td>
          <td class="p-4 border-b border-blue-gray-50">
            <div class="flex items-center gap-3">
              <img src="assets/images/{{task.managerPhoto}}" alt="John Michael" class="inline-block relative object-cover object-center !rounded-full w-9 h-9 rounded-md">
              <div class="flex flex-col">
                <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{task.managerName}}</p>
                <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal opacity-70">{{task.managerEmail}}</p>
              </div>
            </div>
          </td>

          <td class="p-4 border-b border-blue-gray-50">
            <div class="w-max">
              <div class="relative grid items-center font-sans font-bold uppercase whitespace-nowrap select-none bg-{{getStatusColor(task.taskStatus)}}-200 text-{{getStatusColor(task.taskStatus)}}-500 py-1 px-2 text-xs rounded-md" style="opacity: 1;">
                <span class="">{{task.taskStatus}}</span>
              </div>
            </div>
          </td>
          <td class="p-4 border-b border-blue-gray-50">
            <div class="w-max">
              <ng-container >
                <div class="relative grid items-center font-sans font-bold uppercase whitespace-nowrap select-none bg-{{getColor(task.taskPriority)}}-200 text-{{getColor(task.taskPriority)}}-500 py-1 px-2 text-xs rounded-md" style="opacity: 1;">
                <span class="">{{task.taskPriority}}</span>
              </div>
              </ng-container>

            </div>
          </td>
          <td class="p-4 border-b border-blue-gray-50">
            <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{task.taskDeadline | date}}</p>
          </td>
          <td class="p-4 border-b border-blue-gray-50">
            <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">{{task.projectName}}</p>
          </td>



        </tr>



        }



      </tbody>
    </table>

    </div>



</div>

@if(searchTerm==""){
<div class="flex justify-end">
  <div class="flex justify-end">
    <button *ngIf="pageNumber > 0" class="px-2 border-blue-600 bg-gray-400 text-white text-sm shadow-md hover:bg-gray-500 focus:outline-none focus:bg-gray-500" (click)="goToPage(pageNumber - 1)" style="padding: 2px 8px;">Previous</button>
    <button *ngIf="pageNumber < totalPages - 1" class="px-2 border-blue-600 bg-gray-400 text-white text-sm shadow-md hover:bg-gray-500 focus:outline-none focus:bg-gray-500" (click)="goToPage(pageNumber + 1)" style="padding: 2px 8px;">Next</button>
  </div>
    </div>
}

