.pro{
  border-radius: 15px !important;
}



tbody{
  tr:hover{
    background-color: rgb(247, 247, 247) ;

  }
  a{
    cursor: pointer;
  }
}


.buttons{
  display: flex;
  justify-content: space-between;
}
