<!-- component -->
<div class="flex h-screen">
  <!-- Left Pane -->
  <div class="hidden lg:flex items-center justify-center flex-1 bg-white text-black bg-dark dark:bg-gray-900">
    <div class="max-w-md ">

      <div class="flex mb-4" >

        <h6 class="pt-4 text-white text-6xl text">Tasker</h6>
<img src="assets/images/tasker-logo.png" alt="" class="logo pt-4">

      </div>
      <div class=" pb-5 text-white">
          <p class="text-l texts">Your favorite project management <br> software</p>
        </div>
      <div class="pb-4">
        <a type="submit" class="w-full bg-blue-500 text-white  p-2 rounded-md focus:outline-none focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300 text-center" href="/">Go Back</a>
      </div>

    </div>
  </div>

  <div class="w-full bg-gray-100 lg:w-1/2 flex items-center justify-center">
    <div class="max-w-md w-full p-6">
      <h1 class="text-3xl font-semibold mb-6 text-black text-center">Log-in</h1>



      <form action="#" method="POST" class="space-y-4" autocomplete="off" #loginForm="ngForm"  (submit)="this.loginForm.reset()">

        <div class="pb-2">
          <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
          <input type="text" id="email" name="Email" class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300" required [(ngModel)]="loginObject.email">
        </div>
        <div class="pb-4">
          <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
          <input type="password" id="password" name="Password" class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300" required [(ngModel)]="loginObject.password" >
        </div>
        <div class="pb-4">
          <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-gray-800 focus:outline-none focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300" (click)="loginFunction()" >Login</button>
        </div>
      </form>
      <div class="pt-10 text-sm text-gray-600 text-center">
        <p>Don't have an account? <a href="/signup" class="text-blue-500 hover:underline">sign up here</a>
        </p>
      </div>
    </div>
  </div>
</div>
